body {
	background-color: #111111;
}

body,
.thread .header a,
.post .header a {
	color: rgb(255 255 255 / 87%);
}

.thread .header a:hover,
.post .header a:hover {
	color: rgb(255 255 255 / 54%);
	text-decoration: none;
}

.thread,
.post {
	background-color: oklch(1 0 0 / 0.04)
}

.header .subject {
	color: oklch(0.74 0.1053 216.32 / 87%);
}

.header .name {
	color: oklch(0.74 0.1053 150.09 / 87%);
}

.thread a,
.post a {
	color: oklch(0.74 0.1053 29.38 / 87%);
}

.thread a:hover,
.post a:hover {
	color: oklch(0.74 0.1053 29.38 / 100%);
}

.thread.highlighted,
.post.highlighted {
	background-color: oklch(1 0 0 / 0.08)
}