* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5,
.thread .name,
.thread .subject,
.post .name,
.post .subject
.op .name,
.op .subject {
	font-weight: bold;
}

.thread,
.post {
	padding: 4px 2px;
	margin: 4px 2px;
}

.thread .header {
	display: flex;
	flex-direction: row;
}

.thread .body,
.thread .header > * {
	margin: 2px 4px;
}
.thread .header a,
.post .header a {
	text-decoration: none;
	background-color: transparent;
}